#containerHomepage, #containerJobs, #containerError {
    min-height: 100vh;
    background-color: #222f3e;
}
input[type=text], select {
    text-align-last: center;
    text-align: center; 
    font-style: italic;
    font-variant: small-caps;
    font-size: 1.5em;
}
button[type=submit] {
    border-radius: 8px;
    letter-spacing: 3px;
    font-size: 1.1em;
}
#textError {
    line-height: 100px;
}
tbody tr:hover {
    background-color: #57606f;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}